{% extends 'base/base.html' %}
{% import 'base/macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
  {{ super() }}
  Hello
{% endblock %}
{% block content %}
  <h3>Hello world - Flask</h3>
  {% if user_ip and username%}
    <h4>Hi {{ username | capitalize }}!! - You're IP address is: <b>{{ user_ip }}</b></h4>
  {% elif user_ip%}
    <h4>You're IP address is: <b>{{ user_ip }}</b></h4>
  {% else %}
    <a href="{{ url_for('index') }}">Go to Index</a>
  {% endif %}
  <ul>
    {% for todo in todos %}
      {{ macros.render_todo(todo) }}
    {% endfor %}
  </ul>
{% endblock %}
